.App {
  /* text-align: center; */
  padding: 50px 0px;
  background-color: #282828;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: now;
  /* overflow-x: hidden; */
}

.high-lighter {
  color: #30fbef;
}

.logo-prop {
  height: 60px;
  width: 60px;
  left: 150px;
  top: 67px;
  border-radius: 0px;
}

.head-cont {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.comp-title {
  font-weight: bold;
  font-size: 26px;
  margin-left: 9px;
}

.highlight-btn {
  background: #282828;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  padding: 17px;
  display: flex;
  width: 200px;
  height: 60px;
  text-align: center;
  align-items: center;
}

.highlight-mini-btn {
  background: #282828;
  box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.25),
    -3px -3px 8px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  padding: 17px;
  display: flex;
  width: fit-content;
  height: 45px;
  text-align: center;
  align-items: center;
  font-size: 16px;
  align-items: center;
  margin: 0 10px;
}
